/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";   
table{
    width: 80%;
    margin: auto;
}

#id{
    border: none;
    background-color: blue;
}